[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
justetf-scraping = {git = "git+https://github.com/druzsan/justetf-scraping.git"}
dotenv = "*"
swak = "*"
cvxpy = "*"
scipy = "*"
exchange-calendars = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
ipympl = "*"
ruff = "*"
pandas-stubs = "*"
scipy-stubs = "*"

[requires]
python_version = "3.14"
